@font-face {
	font-family: "Proxima Nova Regular";
	src: url("../fonts/proxima-nova-regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Proxima Nova Light";
	src: url("../fonts/proxima-nova-light.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Seravek Basic";
	src: url("../fonts/Seravek-Basic.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Gilroy Regular";
	src: url("../fonts/gilroy-regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Gilroy Bold";
	src: url("../fonts/gilroy-bold.ttf");
	font-weight: normal;
}
@font-face {
	font-family: "Seravek Bold";
	src: url("../fonts/Seravek-Bold.ttf");
	font-weight: 900;
}
@font-face {
	font-family: "Seravek";
	src: url("../fonts/Seravek.ttf");
	font-weight: normal;
}
