// Block var
$blockTextwhiteColor: #fff;
$blockHeadingcolor: #4b4c4c;
$blockHeadingfont: "Seravek Bold";

// Header block

$headerLogofont: "Proxima Nova Regular";
$headerLogocolor: #fff091;
$headerLogotitleFont: "Proxima Nova Light";
$headerNavfont: "Seravek Basic";
$headerBtnborderColor: #b23376;
$headerTimerfont1: "Gilroy Regular";
$headerTimerfont2: "Gilroy Bold";
$headerCaptionfont: "Seravek Bold";
$headerRubiccolor: #f8e94e;
$headerSubtitlefont: "Seravek";

// Partners  block

$partnersTitlecolor: #595959;
$partnersTitlefont: "Gilroy Bold";

// Product block

$productTextcolor: #419dd3;
$headertitlefont: "Gilroy Bold";
$productSubcolor: #343434;
$productSubfont: "Gilroy Regular";
$productSpancolor: #fd5868;
$productLinecolor: #03dcb2;

// Process block

$processDowloadcolor: #ef517b;

// Roadmap block

$roadmapTitlehoverColor: #45da9b;
$roadmapTitlecolor: #fd7f70;
$roadmapTextcolor: #3e3e3e;
$roadmapReadmorecolor: #828282;
$roadmapArrowcolor: #0ed9b1;
$roadmapTimecolor: #4b4c4c;
$roadmapNumcolor: #6e7175;
$roadmapDayscolor: #ff4557;

// Blockchain-block

$blockchainTitlecolor: #78aee3;

// Team block

$teamTitlecolor: #c3cee3;

// Faq block

$faqtitlecolor: #4b4c4c;
$faqIconcolor: #73a8df;

// Footer

$footerTitlecolor: #626266;
$footerLinecolor: #69697a;
$footerSocialscolor: #fd5868;
