section.blockchain-wrap
	.container 
		.block__heading преимущества блокчейна
		.block__line
			img(src="images/product-1.png", alt="line")
		.blockchain 
			.blockchain__item 
				img(src="images/blockchain-image-1.png", alt="")
				span.blockchain__title гарантия
				p.blockchain__text Все цепочки логистики, технические и экономические
					|
					| параметры предприятия хранятся в распределённом реестре. 
					| Эти данные невозможно изменить в обход смарт-контракта.
			.blockchain__item 
				img(src="images/blockchain-image-2.png", alt="")
				span.blockchain__title доступность
				p.blockchain__text Вложения доступны абсолютно всем независимо от опыта инвестиций, 
					|
					|знаний и капитала. Вы можете купить наши акции даже на сумму 0.0001 RUBIC, 
					|просто осуществив перевод и получив TALON`ы в обмен на свой взнос.
			.blockchain__item 
				img(src="images/blockchain-image-3.png", alt="")
				span.blockchain__title автоматизация и открытость
				p.blockchain__text Производство и логистика  максимально автоматизированы. 
					|
					| Используются публично доступные,  легко проверяемые DApps, что позволяет 
					| инвесторам проводить независимый аудит нашей деятельности.
			.blockchain__item 
				img(src="images/blockchain-image-4.png", alt="")
				span.blockchain__title ликвидность
				p.blockchain__text TALON может быть в любое время обменян на продукцию фермы и 
					|
					|молочного завода во множестве точек сбыта на партнёрских условиях. 
					|С марта 2018 года TALON можно будет продавать и покупать на российских товарных биржах.
			.blockchain__item 
				img(src="images/blockchain-image-5.png", alt="")
				span.blockchain__title безопасноть
				p.blockchain__text Все критичные параметры бизнеса защищены от компрометации технологией
					|
					| MasterChain - самой совершенной блокчейн-разработкой РАО “ФинТех” на базе российского 
					| стандарта криптографии ГОСТ Р-34.11-2012.
			.blockchain__item 
				img(src="images/blockchain-image-6.png", alt="")
				span.blockchain__title низкие комиссии
				p.blockchain__text Преимущества блокчейн-платформы MasterChain позволили значительно снизить 
					|
					| транзакционные издержки при проведении любых операций. Благодаря современному протоколу 
					| обмена Whisper,  стоимость транзакций TALON практически равна нулю.