section.faq 
	.container 
		.block__heading частые вопросы
		.block__line 
			img(src="images/product-1.png", alt="line")
		.faq__accordeon 
			.faq__accordeon-item 
				input(type="radio", id="one", name="accordeon", class="faq__input")
				label(for="one", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
			.faq__accordeon-item 
				input(type="radio", id="two", name="accordeon", class="faq__input")
				label(for="two", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
			.faq__accordeon-item 
				input(type="radio", id="three", name="accordeon", class="faq__input")
				label(for="three", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
			.faq__accordeon-item 
				input(type="radio", id="four", name="accordeon", class="faq__input")
				label(for="four", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
			.faq__accordeon-item 
				input(type="radio", id="five", name="accordeon", class="faq__input")
				label(for="five", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
			.faq__accordeon-item 
				input(type="radio", id="six", name="accordeon", class="faq__input")
				label(for="six", class="faq__toggle")
					span.faq__title Как я могу участвовать в распродаже токенов 
					<i class="fas fa-plus"></i>
				.faq__content 
					p.faq__text После начала распродажи мы сообщим адрес смарт-контракта,
						| на который Вы сможете перевести любое количество RUBIC со своего 
						| MasterChain- кошелька или из личного кабинета сайта Госуслуг.
					p.faq__text При совершении перевода отправленная Вами сумма умножается
						| на коэффициент-скидку, зависящую от даты. Например, в первый день распродажи
						| действует максимальный коэффициент 10х, который постепенно уменьшается до 1х к последнему дню.
						| При достижении верхнего порога 10000 RUBIC распродажа останавливается и токены распределяются
						| между инвесторами пропорционально их взносам.
	