footer.footer-wrap 
	.container 
		.footer 
			.footer__contacts 
				.footer__phone 
					span.footer__title телефон:
					a(href="tel:79258838338", class="footer__link") +7 925 88-38-338
				.footer__mail 
					span.footer__title e-mail:
					a(href="ask@volopas.io", class="footer__link") ask@volopas.io
				.footer__socials 
					a(href="https://vk.com/", class="footer__net") <i class="fab fa-vk"></i>
					a(href="https://twitter.com/", class="footer__net") <i class="fab fa-twitter"></i>
					a(href="https://facebook.com/", class="footer__net") <i class="fab fa-facebook-f"></i>
			.footer__form 
				form(action="#")
					input(type="email", placeholder="ваш e-mail",class="footer__email") 
					a.footer__btn(href="#") подписаться 
				ul.header__nav 
					li.header__list 
						a.header__link(href="#") продукция
					li.header__list 
						a.header__link(href="#") процесс
					li.header__list 
						a.header__link(href="#") дорожная карта
					li.header__list 
						a.header__link(href="#") блокчейн
					li.header__list 
						a.header__link(href="#") команда
					li.header__list 
						a.header__link(href="#") faq
					li.header__list 
						a.header__link(href="#") whitepaper
		.footer__copr copyright &copy 2017 volopas  | Все права защищены