section.form 
	.container 
		.block__heading остались вопросы пишите
		.block__line 
			img(src="images/product-1.png", alt="line")
		form(action="#", class="form__content") 
			input(type="text", placeholder="имя", class="form__name") 
			input(type="email",placeholder="e-mail"  class="form__mail")
			input(type="text", placeholder="сообщение",class="form__msg")
			button(class="form__btn") отправить 
