header.header-wrap
	.header__timer
		input(type="checkbox" id="timer" class="header__input")
		label(for="timer" class="header__toggle")
			<i class="fas fa-times"></i>
		.header__bg 
			.header__box 
				img(src="images/header-timer.png", alt="clock")
				span Окончание ICO  чере:
				span 32 дня 09 часов 49 минут	 
	.container 
		.header 
			.header__logo
				img(src="images/header-logo.png", alt="logo") 
				a.header__title(href="#") 
					span волопас
					span артель	
			ul.header__nav 
				li.header__list 
					a.header__link(href="#") продукция
				li.header__list 
					a.header__link(href="#") процесс
				li.header__list 
					a.header__link(href="#") дорожная карта
				li.header__list 
					a.header__link(href="#") блокчейн
				li.header__list 
					a.header__link(href="#") команда
				li.header__list 
					a.header__link(href="#") faq
				li.header__list 
					a.header__link(href="#") whitepaper
			a.header__btn(href="#") участвовать
		.header-content 
			.header__text 
				.header__caption Вкладывайте 
					span RUBIC
					|
					| в молочное производство полного цикла
				.header__subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nisi repellat iusto enim hic voluptates quo atque?
				a.header-content__btn(href="#") подробнее <i class="fas fa-play"></i>