section.partners-wrap 
	.container 
		.partners 
			|
			span.partners__title партнёры:
			|
			|
			img(src="images/partners_1.png", alt="logotip")
			|
			|
			img(src="images/partners_2.png", alt="logotip")
			|
			|
			img(src="images/partners_3.png", alt="logotip")
			|
			|
			img(src="images/partners_4.png", alt="logotip")
			|
			|
			img(src="images/partners_5.png", alt="logotip")
			|
			|
			img(src="images/partners_6.png", alt="logotip")
			|
			|
			img(src="images/partners_7.png", alt="logotip")
