section.process-wrap
	img(src="images/process-bg.png", class="process-bg",alt="")
	.container 
		.process__heading процесс производства
		.process__line 
			img(src="images/process-line.png", alt="line")
		.process
			.process__item-border 
				.process__border.veter ветеринария 
				.process__border.feed кормление и выпас 
			.process__row.purchase 
				.process__item 
					span.process__white-cycle
					span.process__number.numthree 3 
					span.process__bg-cycle.three
					img(src="images/process-cow.png", class="process__image" alt="invester") 
					span.process__name закупка коров
					img(src="images/arrow-dots.png", class="process__dots-arrow", alt="arrow")
					img(src="images/arrow-dots.png", class="process__dots-arrow2", alt="arrow")
					.process__box
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать 
				.process__item-border.milk
					img(src="images/arrow-solid.png", class="process__solid",alt="arrow") 
					.process__border сырое молоко 
					img(src="images/arrow-solid.png", class="process__solid",alt="arrow") 
				.process__item 
					span.process__white-cycle
					span.process__number.numfour 4 
					span.process__bg-cycle.four
					img(src="images/process-milk.png", class="process__image" alt="invester") 
					span.process__name молочное производство
					.process__box.process__four
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать 
			.process__row 
				.process__item 
					span.process__white-cycle
					span.process__number.numone 1 
					span.process__bg-cycle.one
					img(src="images/process-invester.png", class="process__image" alt="invester") 
					span.process__name инвестор
					.process__box.process__first
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать
					.process__arrow-text 
						span rubic
						img(src="images/arrows-1.png", alt="arrows")
						span talon
				.process__item
					.process__arrow-title 
						span.rubic rubic
						img(src="images/arrows-6.png", alt="arrows")  
					span.process__white-cycle
					span.process__number.numtwo 2 
					span.process__bg-cycle.two
					img(src="images/process-contract.png", class="process__image" alt="invester") 
					span.process__name смарт контракт
					.process__box
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать 
					.process__arrow-text 
						span rubic
						img(src="images/arrows-2.png", alt="arrows")
				.process__item 
					span.process__white-cycle
					span.process__number.numfive 5 
					span.process__bg-cycle.five
					img(src="images/process-store.png", class="process__image" alt="invester") 
					span.process__name розничная продажа
					.process__box
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать 
					.process__arrow-text 
						img(src="images/arrows-3.png", alt="arrows")
				.process__item-border 
					.process__border Пастер.молоко, сметана, творог, кефир, йогурт и сыр 
			.process__row 
				.process__item.arenda 
					.process__arrow-title 
						span.rubic rubic
						img(src="images/arrows-4.png", alt="arrows")
					span.process__white-cycle
					span.process__number.numthree 3 
					span.process__bg-cycle.three
					img(src="images/process-arenda.png", class="process__image" alt="invester") 
					span.process__name аренда/покупка участка
					.process__box
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать
				.process__item
					.process__arrow-title 
						span.rubic talon %
						img(src="images/arrows-5.png", alt="arrows") 
					span.process__white-cycle
					span.process__number.numone 5 
					span.process__bg-cycle.one
					img(src="images/process-invester.png", class="process__image" alt="invester") 
					span.process__name инвестор
					.process__box.process__five
						.process__title  Розничная торговля
						.process__text В сети из 20 магазинов и 60 автоматизированных пунктов выдачи 
							|
							|в Москве и крупных городах Подмосковья наши высококачественные, экологически
							|
							| чистые продукты доступны по привлекательной цене.
							|
							|
							span.stroke Держатели наших токенов
								|
								span.talon TALON
								|
								| смогут получить их бесплатно или с большой скидкой. 
						.process__buttons 
							|
							a.process__dowload(href="#") Скачать описание (WP) 
							|
							|
							a.process__invest(href="#") инвестировать  
				