section.product-wrap 
	.container 
		.block__heading Описание продукции
		.block__line 
			img(src="images/product-1.png", alt="line")
		.product 
			.product__pictures 
				img(src="images/product-img-1.png", class="product__pic", alt="product")
				img(src="images/product-img-2.png", class="product__pic", alt="product")
				img(src="images/product-img-3.png", class="product__pic", alt="product")
			.product__texts 
				.product__caption Доверие и децентрализация — ключевые принципы экономической модели компании
				.product__box 
					ul.product__item 
						li.product__line
							span  
						li.product__line
							span  
						li.product__line
							span  
					.product__desc 
						span.product__title молочная ферма	
						span.product__subtitle с полной прозрачностью процессов выпаса, ветеринарного обслуживания, кормления, доения и выходного контроля
						span.product__title молочная завод	
						span.product__subtitle где каждый продукт связан с конкретной партией сырого молока, а каждая производственная операция может быть проверена 
						span.product__title сет сбыта и пункты выдачи	
						span.product__subtitle позволяют инвесторам получать наши продукты бесплатно или с огромной  скидкой по программе 
						span.talon talon
				.product__bonus
					| 
					span.product__plus + бонусы
					|
					|
					span.product__subtitle Многие продукты для держателя
					|
					| 
					span.talon2 Talon 
					|
					|	
					span.product__subtitle обходятся абсолютно бесплатно!