section.roadmap-wrap
	.container 
		.block__heading дорожная карта
		.block__line
			img(src="images/product-1.png", alt="line")
		.roadmap
			.roadmap__column 
				.roadmap__item 
					.roadmap__title.roadmap__hover Начало распродажи токенов	
					.roadmap__text С момента начала распродажи и до её окончания
						|
						| Вы можете купить паи предприятия по наиболее привлекательной цен. 
						|Для этого вы можете перевести любое количество RUBIC на
						span#dots1 ... 
						span#more1 специальный счёт.
							| Момент совершения перевода определит размер Вашей скидки. Например, в первый день
							| распродажи за 1 RUBIC вы получите 10 TALON’ов, а в последний день - 1 TALON. 
					button(id="btn1", onclick="readMore()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer.roadmap__right
					time(datetime="2017-12-30", class="roadmap__time") 30 декабря 2017 
					span.roadmap__num 10 000 
					span.roadmap__rubic rubic
				.roadmap__item 
					.roadmap__title Аренда земельного участка	
					.roadmap__text 	Для размещения комплекса мы подобрали живописный участок площадью 15 Га в д. 
						|
						| Пирогово на берегу Клязьминского водохранилища. На участке расположены
						span#dots2 ... 
						span#more2 заливной луг, идеальный для выпаса и заготовки сена, станция водоподготовки, 
							|
							| современные очистные сооружения, трансформаторная подстанция, газораспределительный
							|
							| узел и оформлены техусловия на подключение. На участок ведёт отличная асфальтированная дорога.
							|
							| Собственник готов предоставить участок в аренду на 49 лет в обмен на 500 токенов TALON.
					button(id="btn2", onclick="readMore2()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer.roadmap__right
					time(datetime="2017-01", class="roadmap__time") январь 2017 
				.roadmap__item 
					.roadmap__title Закупка коров и начало производства сырого молока	
					.roadmap__text По окончании процессов пусконаладки всех систем закупаются 1000 дойных коров (2-3 отёла) наиболее
						span#dots3 ...
						span#more3 продуктивных пород. На данный момент ведутся переговоры с Агрохолдингом “Дон” о поставке коров 
							|
							| Голштинской породы и сельхозартелью “Водолей” о поставке Джерсейских коров за токены нашего предприятия. 
							|
							| Обе породы очень продуктивны и имеют наилучшие характеристики по составу молока. Молоко отвечает самым
							|
							| высоким требованиям и пригодно даже для элитного сыроварения.
					button(id="btn3", onclick="readMore3()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer.roadmap__right
					time(datetime="2018-04", class="roadmap__time") апрель 2018 
				.roadmap__item 
					.roadmap__title Выход на Всероссийскую Биржу ЦБ	
					.roadmap__text После тестирования финансовых параметров TALON будет автоматически допущен к торгам на Всероссийской бирже
						span#dots4 ...
						span#more4 составлению и отладке умного контракта были привлечены лучшие блокчейн-разработчики и консультанты, 
							|
							|  и мы абсолютно уверены в выполнении всех требований самых последних протоколов ЦБ.  
					button(id="btn4", onclick="readMore4()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer.roadmap__right
					time(datetime="2018-06", class="roadmap__time") июнь 2018 
				.roadmap__item 
					.roadmap__title Развитие сети сбыта в Москве и Подмосковье	
					.roadmap__text Наши продукты будут доступны во всех городах Московской области и во всех районах Москвы в десятках...
						span#dots5 ...
						span#more5 автоматизированных пунктов выдачи и собственных магазинах. Мы планируем открыть не менее 20 минимаркетов,  
							|
							| а сеть продуктовых автоматов будет состоять из 60-80 точек. Во всех магазинах и автоматах вы сможете 
							|
							| приобрести наши продукты бесплатно при предъявлении электронного носителя с TALON’ами на счёте, платно 
							|
							| за RUBIC’и и другие валюты, а также произвести операции конвертации TALON’ов в другие цифровые активы, 
							|
							| доступные на Всероссийской Криптобирже.
					button(id="btn5", onclick="readMore5()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
			.roadmap__waterfall 
				img(src="images/roadmap-image.png", alt="waterfall")
			.roadmap__column 
				.roadmap__timer-finish 
					span.roadmap__subject Уже собрано: 
						span.roadmap__number 12000 rubic
					.roadmap__picture 
						img(src="images/map-clock.png", class="roadmap__clock" alt="clock")
						span.roadmap__finish Окончание ICO через:	
							span.roadmap__days 32 дня 09 часов 40 минут
				.roadmap__timer
					time(datetime="2017-11-20", class="roadmap__time") 20 ноября 2017 
					span.roadmap__num 0 
					span.roadmap__rubic rubic
				.roadmap__item 
					.roadmap__title Окончание распродажи	
					.roadmap__text 30 декабря 2017 года распродажа автоматически прекращается и дольщикам на адреса их кошельков начисляются токены TALON.
						| С этого момента Вы сможете
						span#dots6 ...
						span#more6 обменивать, дарить, передавать и продавать принадлежащие Вам TALONы точно так же, как расплачиваетесь RUBICами.  
							|
							| В случае если сумма 10000 RUBIC будет собрана досрочно, распродажа прекращается и TALONы начисляются немедленно. 
					button(id="btn6", onclick="readMore6()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer
					time(datetime="2017-01", class="roadmap__time") январь 2017 
				.roadmap__item 
					.roadmap__title Строительство молочной фермы
					.roadmap__text После оформления участка в собственность возводятся постройки и сооружения:
						| утеплённый ангар для содержания коров, летний загон для скота, склад для хранения кормов
						span#dots7 ...
						span#more7 боксы для размещения техники и инвентаря, подводятся коммуникации, обустраивается пастбище,  
							|
							| закупается и монтируются поилки, щетки, вентиляционные системы, доильные системы, 
							|
							| охладители молока, родильное отделение, лабораторное оборудование и автоматика.
					button(id="btn7", onclick="readMore7()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer
					time(datetime="2018-02", class="roadmap__time") февраль 2018 
				.roadmap__item 
					.roadmap__title Поставка сырого молока на молокозаводы
					.roadmap__text Наш производственный цикл изначально интегрирован в децентрализованную биржу сырого молока всех... 
						span#dots8 ...
						span#more8 агрокомплексов Московской области. Благодаря технологии блокчейн, договоры на поставку молока  
							|
							|  заключаются автоматически на наиболее справедливых условиях - лучшие характеристики продукта 
							|						|
							|  гарантируют его наивысшую цену. И уже на этом этапе для владельцев токенов TALON мы организуем 
							|
							|  доставку парного молока к завтраку.
					button(id="btn8", onclick="readMore8()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer
					time(datetime="2018-05", class="roadmap__time") май 2018
				.roadmap__item 
					.roadmap__title Запуск и развитие молочного производства
					.roadmap__text Строительство молочного завода и запуск линий по производству готовой продукции будет производиться в 
						span#dots9 ...
						span#more9 несколько этапов начиная с более простых линий (цеха пастеризации сырого молока,   
							|
							| линии производства сметаны и масла, розлива и расфасовки) и заканчивая сложными 
							|						|
							| процессами производством твёрдых сортов сыра с длительным сроком вызревания.  
							|
							|  По мере расширения ассортимента мы будем расширять и сеть наших точек присутствия
					button(id="btn9", onclick="readMore9()", class="roadmap__btn") <i class="fas fa-location-arrow"></i> подробнее
				.roadmap__timer
					time(datetime="2018-05", class="roadmap__time") июнь 2018
					


