section.team-wrap
	.container 
		.process__heading команда
		.process__line 
			img(src="images/product-1.png", alt="line")
		.team
			.team__item 
				.team__border 
					img(src="images/team-1.png", class="team__image" alt="team") 
				.team__title олег егоров
				.team__subtitle текнический директор и главный технолог
			.team__item 
				.team__border 
					img(src="images/team-2.png", class="team__image" alt="team") 
				.team__title кирилл новиков
				.team__subtitle основатель и директор
			.team__item 
				.team__border 
					img(src="images/team-3.png", class="team__image" alt="team") 
				.team__title николай титов
				.team__subtitle главный конструктор, инженер автоматизации
			.team__item 
				.team__border 
					img(src="images/team-4.png", class="team__image" alt="team") 
				.team__title илья сорохин 
				.team__subtitle бухгалтер и финансист
			.team__item 
				.team__border 
					img(src="images/team-5.png", class="team__image" alt="team") 
				.team__title константин беляев 
				.team__subtitle технолог молочного производства
		.team__text 
			.team__slogan Давайте вместе построим проект, который будет давать нам прибыль, кормить нас!
			a.team__btn(href="#") стать партнером 

		