doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="libs/fontawesome/css/all.min.css")
		title Volopas
	body
		include modules/header
		main
			include modules/partners
			include modules/product
			include modules/process
			include modules/roadmap
			include modules/blockchain
			include modules/team
			include modules/faq
			include modules/form
		include modules/footer
		script(src='js/script.js')